.Rating {
  background: var(--darker-color);
  padding: 20px;
  border-radius: 2px;
  flex: 1 0 auto;
  display: flex;
  gap: 20px;
}
.Rating__pfp {
  width: 60px;
  height: 60px;
  flex: 0 0 auto;
  background-size: cover;
}
.Rating .Stars {
  margin-bottom: 10px;
}
.Rating__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.Rating__info > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.Rating__info > a {
  font-weight: 700;
  transition: color 0.2s;
}
.Rating__info > a:hover {
  color: var(--secondary-color);
}
.Rating__review {
  color: rgba(255, 255, 255, 0.7);
  word-wrap: break-word;
}
