@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #333c53;
  --darker-color: #1b2031;
  --darkest-color: #08090e;
  --secondary-color: #cab8ff;
  --lighter-color: #e4dbff;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  background: var(--darkest-color);
  font-family: "Archivo", Arial, Helvetica, sans-serif;
  color: white;
  overflow-x: hidden;
  overflow-x: clip;
}
