.Details {
  position: relative;
}
.Details__backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: 20%;
  filter: blur(5px);
}
.Details__backdrop:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    var(--darkest-color),
    color-mix(in srgb, var(--darkest-color) 90%, transparent) 40%,
    color-mix(in srgb, var(--darkest-color) 60%, transparent)
  );
}
.Details__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}
.Details__head {
  display: flex;
  z-index: 1;
  gap: 60px;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 30px;
}
.Details__poster {
  position: relative;
  background: var(--main-color);
  flex: 0 0 20%;
  align-self: start;
}
.Details__poster > div {
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 150%;
  width: 100%;
  border-radius: 2px;
}
.Details__poster--empty {
  stroke-width: 2.5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: var(--darker-color);
}
.Details__title {
  font-weight: 900;
  color: white;
}
.Details__title > span {
  font-weight: 500;
  color: var(--secondary-color);
  opacity: 0.8;
}
.Details__stars {
  position: relative;
  display: inline-flex;
  width: fit-content;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  color: var(--secondary-color);
}
.Details__stars svg {
  flex: 0 0 auto;
}
.Details__stars > div {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  overflow: hidden;
}
.Details__wrapper2 {
  position: relative;
  z-index: 1;
  background: var(--darkest-color);
}

@media (max-width: 1023px) {
  .Details__poster {
    flex: 1 0 40%;
  }
}
